<!DOCTYPE html>
<html>
    <head>
        <title>Sovetbekov Aibek</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 23.03.2023, 21:49</p>
            <h2><a href="">My first post</a></h2>
            <p> Sovetbekov Aibek file</p>
        </div>

        <div>
            <p>published: 23.03.2023, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Bishkek</p>
        </div>
    </body>
</html>